
\.vs/WpfApp1/v15/Server/sqlite3/

\.vs/WpfApp1/v15/

WpfApp1/bin/Debug/

WpfApp1/obj/Debug/

Pond's Shop/\.vs/Pond's Shop/v15/Server/sqlite3/

Pond's Shop/\.vs/Pond's Shop/v15/

Pond's Shop/Pond's Shop/bin/Debug/

Pond's Shop/Pond's Shop/obj/Debug/
